server {
    listen {{ lighthouse_listen_port }} default_server;
    listen [::]:{{ lighthouse_listen_port }} default_server;

    server_name _;

    root {{ lighthouse_root }};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
